@media (min-width: 1440px) {
  .header-wrapper {
    padding: 1rem calc(50% - 720px);
    padding-bottom: 0;
    padding-top: 0;
    background-color: black;
  }
}

.page-header {
  background-color: black;
  color: white;
  margin: 0;
  background-image: url("../img/background.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-origin: content-box;
}

@media (max-width: 1439px) {
  .page-header {
    background-image: url("../img/background-tablet.png");
  }
}

@media (max-width: 829px) {
  .page-header {
    background-image: url("../img/background-mobile.png");
  }
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

@media (min-width: 320px) {
  .nav-wrapper {
    min-width: 280px;
  }
}

@media (min-width: 830px) {
  .nav-wrapper {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .nav-wrapper {
    padding: 1rem calc(50% - 575px);
    padding-top: 0;
    padding-bottom: 13px;
  }
}

@media (max-width: 829px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  margin-right: 52px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
}

@media (max-width: 1439px) {
  .main-nav__list {
    margin-right: 0;
  }
}

@media (max-width: 829px) {
  .main-nav__list {
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    background-color: #FF4B32;
    width: 100vw;
    align-content: center;
  }
}

.site-list__item {
  list-style: none;
}

@media (max-width: 829px) {
  .site-list__item {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    opacity: 0.6;
    width: 90%;
    text-transform: uppercase;
  }
  .site-list__item:hover {
    background-color: #fc2408;
  }
}

.site-list__item a {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  margin-left: 49px;
}

.site-list__item a:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 1439px) {
  .site-list__item a {
    margin-left: 22px;
  }
}

@media (max-width: 829px) {
  .site-list__item a {
    margin-left: 0;
    opacity: 1;
  }
}

@media (max-width: 829px) {
  .site-list__item {
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
}

.site-list__item--active a {
  margin-left: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #FF4B32;
  opacity: 1;
}

@media (max-width: 829px) {
  .site-list__item--active a {
    margin: 0;
    color: white;
  }
}

.user-list {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: auto;
  display: flex;
  margin-top: 50px;
}

@media (max-width: 829px) {
  .user-list {
    margin-top: 20px;
    margin-right: 5%;
  }
}

.cart {
  display: flex;
  margin-left: 38px;
  text-decoration: none;
  color: white;
}

.cart img {
  width: 41px;
  height: 39px;
}

@media (max-width: 829px) {
  .cart {
    margin-left: 18px;
  }
}

.cart__number {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: #FF4B32;
  margin-left: -10px;
  margin-top: -4px;
}

@media (max-width: 829px) {
  .main-nav {
    order: 2;
    margin-top: 24px;
    position: absolute;
    top: 50px;
  }
}

@media (max-width: 829px) and (min-width: 830px) {
  .main-nav {
    display: none;
  }
}

@media (max-width: 829px) {
  .main-nav__toggle {
    position: absolute;
    width: 100vw;
    height: 40px;
    cursor: pointer;
    border: 0;
    z-index: 2;
    background-color: #FF4B32;
    left: 50%;
  }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #fc2408;
  }
}

@media (max-width: 829px) {
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 47%;
    width: 36px;
    height: 2px;
    opacity: 0.7;
    background-color: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    transition: all 0.3s ease 0s;
  }
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -20px;
  width: 36px;
  height: 3px;
  background-color: white;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

@media (min-width: 829px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}

@media (max-width: 829px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
/*# sourceMappingURL=page-header.css.map */