@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/JosefinSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/JosefinSans-SemiBold.woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../Poppins-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.item__price {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-top: 31px;
}

.item__title {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  max-width: 350px;
  margin: 10px 0 0 0;
}

.item__title--centr {
  margin: 0 auto;
  margin-top: 25px;
  margin-left: 30px;
  text-align: left;
}

.item__description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  max-width: 257px;
  margin: 15px 0 0 0;
}

.item__description--centr {
  max-width: 302px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 30px;
}

.page-header {
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
  background-image: url("../img/background.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

.nav-wrapper {
  display: flex;
}

@media (max-width: 1440px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

@media (min-width: 320px) {
  .nav-wrapper {
    min-width: 280px;
  }
}

@media (min-width: 830px) {
  .nav-wrapper {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .nav-wrapper {
    padding: 1rem calc(50% - 575px);
    padding-top: 0;
    padding-bottom: 13px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  margin-right: 52px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
}

@media (max-width: 1439px) {
  .main-nav__list {
    margin-right: 0;
  }
}

@media (max-width: 829px) {
  .main-nav__list {
    flex-direction: column;
    margin-top: 40px;
  }
}

.site-list__item {
  list-style: none;
}

.site-list__item a {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  margin-left: 49px;
}

.site-list__item a:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 1439px) {
  .site-list__item a {
    margin-left: 22px;
  }
}

@media (max-width: 829px) {
  .site-list__item {
    margin-left: 0;
    margin-top: 20px;
  }
  .site-list__item:last-child {
    margin-bottom: 20px;
  }
}

.site-list__item--active a {
  margin-left: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #FF4B32;
  opacity: 1;
}

@media (max-width: 829px) {
  .site-list__item--active a {
    margin: 0;
    color: white;
    margin-left: 22px;
  }
}

.user-list {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: auto;
  display: flex;
  margin-top: 50px;
}

@media (max-width: 829px) {
  .user-list {
    margin-top: 20px;
  }
}

.search {
  width: 49px;
  height: 49px;
}

.search__icon-2 {
  position: absolute;
  top: 14px;
  left: 14px;
}

.cart {
  display: flex;
  margin-left: 38px;
}

.cart img {
  width: 41px;
  height: 39px;
}

@media (max-width: 829px) {
  .cart {
    margin-left: 18px;
  }
}

.cart__number {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: #FF4B32;
  margin-left: -10px;
  margin-top: -4px;
}

.page__logo {
  position: relative;
  height: 50px;
  display: flex;
  margin-top: 50px;
  margin-right: auto;
  text-decoration: none;
}

.page__logo img {
  width: 50px;
  height: 50px;
}

@media (max-width: 829px) {
  .page__logo {
    margin-top: 20px;
  }
}

@media (max-width: 1439px) {
  .page__logo {
    margin-right: 0;
  }
}

.logo__title {
  font-family: 'Josefin Sans';
  color: #FF4B32;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-top: 19px;
  margin-left: 11px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.button {
  border-radius: 5px;
  background: #FF4B32;
  padding: 15px 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #fc2408;
}

.button-adaptive {
  padding: 19px 35px;
}

.toggle__button img {
  width: 46;
  height: 46;
}

.toggle__button--dissabled {
  opacity: 0.6;
}

.appeal {
  padding-bottom: 126px;
}

@media (min-width: 1439px) {
  .appeal {
    padding: 1rem calc(50% - 575px);
    padding-bottom: 123px;
  }
}

@media (max-width: 1439px) {
  .appeal {
    padding-left: 64px;
  }
}

@media (max-width: 829px) {
  .appeal {
    padding-bottom: 50px;
    padding-left: 12px;
  }
}

.appeal__slogan {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  margin: 84px 0 26px 0;
  max-width: 524px;
}

@media (max-width: 829px) {
  .appeal__slogan {
    margin-top: 50px;
    font-size: 35px;
  }
}

.appeal__intro {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  opacity: 0.8;
  max-width: 516px;
}

@media (max-width: 829px) {
  .appeal__intro {
    font-size: 12px;
  }
}

.appeal__intro {
  margin-bottom: 65px;
}

@media (max-width: 1439px) {
  .button-adaptive {
    padding: 13px 28px;
  }
}

@media (max-width: 829px) {
  .button-adaptive {
    padding: 11px 24px;
  }
}

.nameing-section__heading {
  margin: 0 auto;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  max-width: 445px;
  margin-bottom: 20px;
}

.nameing-section__heading--left {
  margin: 0;
}

.nameing-section__description {
  display: block;
  margin: 0 auto;
  max-width: 609px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.nameing-section__description-left {
  margin: 0;
}

.shop {
  margin-top: 140px;
  padding-left: 50px;
}

@media (min-width: 320px) {
  .shop {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .shop {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .shop {
    padding: 1rem calc(50% - 575px);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.shop__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
  margin-bottom: 140px;
}

@media (max-width: 1179px) {
  .shop__wrapper {
    gap: 40px;
  }
}

@media (max-width: 830px) {
  .shop__wrapper {
    gap: 50px;
    flex-direction: column;
    align-content: space-evenly;
  }
}

.shop__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop__item {
  list-style: none;
  margin-top: auto;
  max-width: 370px;
  object-fit: cover;
}

.shop__item img {
  height: auto;
  max-width: 370px;
}

.shop__order {
  display: flex;
  align-items: center;
  margin-top: 31px;
}

.shop-table {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
}

.shop-table td:nth-of-type(1) {
  width: 53.5px;
  height: 22px;
  text-align: center;
}

.shop-table td:nth-of-type(2) {
  height: 22px;
  text-align: center;
}

.nameing-section__toggle {
  display: flex;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.toggle {
  width: 116px;
  margin-left: auto;
  margin-top: 5px;
}

.toggle__button:first-child {
  margin-right: 20px;
}

.nameing-section--position {
  text-align: center;
  margin-bottom: 60px;
}

.nameing-section__heading-position {
  margin-bottom: 20px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.gallery__wrapper .gallery__img {
  width: 362px;
  height: 330px;
}

.gallery__wrapper .gallery__img--even {
  width: 362px;
  height: 230px;
}

.gallery {
  padding: 1rem;
}

@media (min-width: 320px) {
  .gallery {
    min-width: 280px;
    padding: 0 20px;
    justify-content: space-between;
  }
}

@media (min-width: 831px) {
  .gallery {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding: 1rem calc(50% - 575px);
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 1274px) {
  .gallery {
    justify-content: center;
  }
}

.gallery__hr-top {
  border: 1px solid #0D0402;
  width: 460px;
  margin-top: 15px;
}

.gallery__hr-bottom {
  border: 1px solid #0D0402;
  width: 460px;
  margin-top: 15px;
}

.gallery__link {
  margin-top: 60px;
  margin-bottom: 140px;
  display: block;
  text-align: center;
}

.gallery__link a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FF4B32;
  text-transform: uppercase;
  text-decoration: none;
}

.gallery__link a:hover {
  color: black;
}

.gallery__img--up {
  margin-top: -100px;
}

.contacts {
  background: url(../img/contacts-background-right.png) right no-repeat, url(../img/contacts-background.png) left no-repeat;
  display: block;
  background-color: black;
  margin-bottom: 140px;
  text-align: center;
  padding-top: 100px;
  max-height: 650px;
}

@media (min-width: 320px) {
  .contacts {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .contacts {
    min-width: 640px;
    padding: 0 64px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding: 1rem calc(50% - 575px);
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contacts__link {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #FF4B32;
  cursor: pointer;
  margin-bottom: 25px;
}

.contacts__link:hover {
  color: #fd381e;
}

.contacts__line {
  width: 95px;
  border: 1px solid #FF4B32;
  margin: 0 auto;
}

.contacts__heading {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.contacts__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__item {
  text-decoration: none;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.contacts__item:hover {
  color: #b1b1b1;
}

.social img {
  width: 50px;
  height: 50px;
}

.social a {
  margin-right: 40px;
}

.social a:last-child {
  margin: 0;
}

.news {
  text-align: center;
  margin-bottom: 142px;
}

@media (min-width: 320px) {
  .news {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .news {
    min-width: 640px;
  }
}

@media (min-width: 1440px) {
  .news {
    padding: 1rem calc(50% - 575px);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.news-items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1275px) {
  .news-items {
    justify-content: center;
  }
}

.news__item {
  background: #FFFFFF;
  box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
  border: 1px;
  border-radius: 20px;
}

.news__item:hover {
  outline: 2px solid #FF4B32;
}

.news__img {
  width: 362px;
  height: 300px;
}

.news__link {
  text-align: left;
  padding-left: 35px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.news__link__text {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FF4B32;
}

.news__link__text:hover {
  color: black;
}

.news__link__text img {
  display: inline-block;
  margin-left: 10px;
}

.page-footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 147px 51px 147px;
}

@media (min-width: 320px) {
  .page-footer {
    min-width: 280px;
    padding: 60px 20px 51px 20px;
  }
}

@media (max-width: 831px) {
  .page-footer {
    justify-content: center;
  }
}

@media (min-width: 831px) {
  .page-footer {
    min-width: 640px;
    padding: 60px 64px 51px 64px;
  }
}

@media (min-width: 1440px) {
  .page-footer {
    padding: 1rem calc(50% - 575px);
    padding-top: 60px;
    padding-bottom: 26px;
  }
}

@media (max-width: 1440px) {
  .page-footer {
    justify-content: space-between;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-column-position {
  margin-top: 17px;
  max-height: 177px;
}

.footer-column_item {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  max-width: 260px;
  text-decoration: none;
}

.footer-column_item:hover {
  color: #b1b1b1;
}

.footer-column_item-first {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-column_item--no-link:hover {
  color: white;
}

.footer-column__title {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.page__logo--footer {
  margin: 0;
}

.contacts__item--footer {
  font-size: 18px;
  justify-content: flex-start;
}

.phone-footer {
  justify-content: flex-start;
}

.social--footer {
  margin-top: 46px;
  margin-bottom: auto;
}

.social--footer img {
  width: 38px;
  height: 38px;
}

.social--footer a {
  margin-right: 30px;
}

.social--footer a:last-child {
  margin: 0;
}

@media (max-width: 831px) {
  .social--footer a {
    margin-right: 5px;
  }
}

.copyright {
  background-color: black;
}

.copyright hr {
  margin: 0 auto;
  opacity: 0.4;
  max-width: 1146px;
}

.copyright__item {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: black;
}

@media (max-width: 829px) {
  .page__logo {
    margin-left: 5%;
  }
}

@media (max-width: 829px) {
  .user-list {
    margin-right: 5%;
  }
}

@media (max-width: 829px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 829px) {
  .main-nav__toggle {
    position: absolute;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: 0;
    background-color: aliceblue;
    z-index: 2;
  }
}

@media (max-width: 829px) {
  .main-nav {
    margin-top: 30px;
    position: relative;
    width: 20%;
    min-height: 350px;
  }
}

@media (max-width: 829px) and (min-width: 830px) {
  .main-nav {
    display: none;
  }
}

@media (max-width: 829px) {
  .main-nav__list {
    position: absolute;
    background-color: #FF4B32;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */