.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.item__price {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.item__title {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  max-width: 310px;
}

.item__title--centr {
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
}

.item__description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  max-width: 257px;
}

.item__description--centr {
  max-width: 302px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 30px;
}

.page-header {
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
  background-image: url("../img/background.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.nav-wrapper {
  padding: 1rem;
}

@media (min-width: 320px) {
  .nav-wrapper {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .nav-wrapper {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .nav-wrapper {
    padding: 1rem calc(50% - 575px);
  }
}

@media (min-width: 320px) {
  .main-nav__toggle {
    display: none;
  }
}

.nav-wrapper {
  display: flex;
}

@media (max-width: 1440px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  margin-right: 60px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 1439px) {
  .main-nav__list {
    margin-right: 0;
  }
}

@media (max-width: 830px) {
  .main-nav__list {
    flex-direction: column;
    margin-top: 20px;
  }
}

.site-list__item {
  list-style: none;
}

.site-list__item a {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  margin-left: 49px;
}

.site-list__item a:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 1439px) {
  .site-list__item a {
    margin-left: 22px;
  }
}

@media (max-width: 830px) {
  .site-list__item a {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.site-list__item--active a {
  margin-left: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #FF4B32;
  opacity: 1;
}

.user-list {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: auto;
  display: flex;
  margin-top: 50px;
}

@media (max-width: 830px) {
  .user-list {
    margin-top: 20px;
  }
}

.search {
  width: 49px;
  height: 49px;
}

.search__icon-2 {
  position: absolute;
  top: 14px;
  left: 14px;
}

.cart {
  display: flex;
  margin-left: 38px;
}

@media (max-width: 830px) {
  .cart {
    margin-left: 18px;
  }
}

.cart__number {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: #FF4B32;
  margin-left: -10px;
  margin-top: -4px;
}

.page__logo {
  position: relative;
  height: 50px;
  display: flex;
  margin-top: 50px;
  margin-right: auto;
}

@media (max-width: 830px) {
  .page__logo {
    margin-top: 20px;
  }
}

@media (max-width: 1439px) {
  .page__logo {
    margin-right: 0;
  }
}

.logo__title {
  font-family: 'Josefin Sans';
  color: #FF4B32;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-top: 19px;
  margin-left: 11px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.button {
  border-radius: 5px;
  background: #FF4B32;
  padding: 16px 35px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #fd381e;
}

.toggle__button--dissabled {
  opacity: 0.6;
}

.appeal {
  padding-bottom: 126px;
}

@media (min-width: 1439px) {
  .appeal {
    padding: 1rem calc(50% - 575px);
    padding-bottom: 110px;
  }
}

@media (max-width: 1439px) {
  .appeal {
    padding-left: 64px;
  }
}

@media (max-width: 830px) {
  .appeal {
    padding-bottom: 50px;
    padding-left: 12px;
  }
}

.appeal__slogan {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  margin: 110px 0 26px 0;
  max-width: 524px;
}

@media (max-width: 830px) {
  .appeal__slogan {
    margin-top: 50px;
    font-size: 35px;
  }
}

.appeal__intro {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  opacity: 0.8;
  margin-bottom: 48px;
  max-width: 516px;
}

@media (max-width: 830px) {
  .appeal__intro {
    font-size: 12px;
  }
}

@media (max-width: 1439px) {
  .button-adaptive {
    padding: 13px 28px;
  }
}

@media (max-width: 830px) {
  .button-adaptive {
    padding: 11px 24px;
  }
}

.nameing-section__heading {
  margin: 0 auto;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  max-width: 445px;
}

.nameing-section__heading--left {
  margin: 0;
}

.nameing-section__description {
  display: block;
  margin: 0 auto;
  max-width: 609px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.nameing-section__description-left {
  margin: 0;
}

.shop {
  margin-top: 140px;
  padding-left: 50px;
}

@media (min-width: 320px) {
  .shop {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .shop {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .shop {
    padding: 1rem calc(50% - 575px);
  }
}

.shop__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 140px;
  justify-content: space-between;
}

@media (max-width: 1179px) {
  .shop__wrapper {
    gap: 40px;
  }
}

@media (max-width: 830px) {
  .shop__wrapper {
    gap: 50px;
    flex-direction: column;
    align-content: space-evenly;
  }
}

.shop__list {
  margin: 0;
  padding: 0;
}

.shop__item {
  list-style: none;
}

.shop__order {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.shop-table {
  display: inline-block;
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
}

.shop-table td:nth-of-type(1) {
  width: 53.5px;
  height: 22px;
  text-align: center;
}

.shop-table td:nth-of-type(2) {
  height: 22px;
  text-align: center;
}

.nameing-section__toggle {
  display: flex;
}

.toggle {
  width: 116px;
  margin-left: auto;
  margin-top: 5px;
}

.toggle__button:first-child {
  margin-right: 20px;
}

.nameing-section--position {
  text-align: center;
  margin-bottom: 60px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.gallery {
  padding: 1rem;
}

@media (min-width: 320px) {
  .gallery {
    min-width: 280px;
    padding: 0 20px;
    justify-content: space-between;
  }
}

@media (min-width: 831px) {
  .gallery {
    min-width: 640px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding: 1rem calc(50% - 575px);
  }
}

@media (max-width: 1274px) {
  .gallery {
    justify-content: center;
  }
}

.gallery__link {
  margin-top: 60px;
  margin-bottom: 140px;
  display: block;
  text-align: center;
}

.gallery__link hr {
  border: 1px solid #0D0402;
  width: 460px;
}

.gallery__link a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FF4B32;
  text-transform: uppercase;
  text-decoration: none;
}

.gallery__link a:hover {
  color: #fd381e;
}

.gallery__img--up {
  margin-top: -100px;
}

.contacts {
  background: url(../img/contacts-background-right.png) right no-repeat, url(../img/contacts-background.png) left no-repeat;
  display: block;
  background-color: black;
  margin-bottom: 140px;
  text-align: center;
  padding-top: 100px;
  max-height: 650px;
}

@media (min-width: 320px) {
  .contacts {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .contacts {
    min-width: 640px;
    padding: 0 64px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding: 1rem calc(50% - 575px);
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contacts__link {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #FF4B32;
  cursor: pointer;
}

.contacts__link:hover {
  color: #fd381e;
}

.contacts__line {
  width: 95px;
  border: 1px solid #FF4B32;
}

.contacts__heading {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.contacts__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__item {
  text-decoration: none;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.social a {
  margin-right: 40px;
}

.social a:last-child {
  margin: 0;
}

.news {
  text-align: center;
}

@media (min-width: 320px) {
  .news {
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 831px) {
  .news {
    min-width: 640px;
  }
}

@media (min-width: 1440px) {
  .news {
    padding: 1rem calc(50% - 575px);
  }
}

.news-items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1275px) {
  .news-items {
    justify-content: center;
  }
}

.news__item {
  background: #FFFFFF;
  box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
  border: 1px;
  border-radius: 20px;
}

.news__link {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.news__link__text {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FF4B32;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */