.page-footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 60px 147px 51px 147px;

    @media (min-width: 320px) {
        min-width: 280px;
        padding: 60px 20px 51px 20px;
    }

    @media (max-width: 831px) {

        justify-content: center;
    }


    @media (min-width: 831px) {

        min-width: 640px;
        padding: 60px 64px 51px 64px;
    }

    @media (min-width: 1440px) {
        padding: 1rem calc(50% - 575px);
        padding-top: 77px;
        padding-bottom: 51px;
    }

}



.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-column_item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    max-width: 260px;
    text-decoration: none;

    &:hover {
        color: rgb(177, 177, 177);
    }
}

.footer-column_item--no-link {
    &:hover {
        color: white;
    }
}


.footer-column__title {
    margin: 0;
    padding: 0;
    margin-top: 17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.page__logo--footer {
    margin-top: 0;
}

.contacts__item--footer {
    font-size: 18px;
    justify-content: flex-start;
}

.phone-footer {
    justify-content: flex-start;
}

.social--footer {
    margin-top: 46px;
    margin-bottom: auto;

    a {
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }

        @media (max-width:831px) {
            margin-right: 5px;

        }

    }


}
