.nameing-section--position {
    text-align: center;
    margin-bottom: 60px;
}

// GALLERY

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.gallery {

    padding: 1rem;

    @media (min-width: 320px) {
        min-width: 280px;
        padding: 0 20px;
        justify-content: space-between;
    }


    @media (min-width: 831px) {

        min-width: 640px;
        padding: 0 64px;

    }

    @media (min-width: 1440px) {
        padding: 1rem calc(50% - 575px);

    }

    @media (max-width: 1274px) {
        justify-content: center;

    }
}

.gallery__link {
    margin-top: 60px;
    margin-bottom: 140px;
    display: block;
    text-align: center;

    hr {
        border: 1px solid #0D0402;
        width: 460px;
    }

    ;

    a {

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FF4B32;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #fd381e;
        }
    }
}

.gallery__img--up {

    margin-top: -100px;
}
