.item__price {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.item__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    max-width: 310px;
}

.item__title--centr {
    margin: 0 auto;
    margin-top: 30px;
}

.item__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    max-width: 257px;

}

.item__description--centr {
    max-width: 302px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 30px;

}
