.nameing-section__heading {
    margin: 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
}

;

.nameing-section__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}
