// GLOBAL
@import "global.scss";

// ITEMS

@import "items.scss";

// PAGE_HEADER

@import "page-header.scss";

// LOGO

@import "logo.scss";

// BUTTON

@import "buttons.scss";

// APPEAL

@import "appeal.scss";

// NAMEING_SECTION

@import "nameing-section.scss";

// SHOP

@import "shop.scss";

// GALLERY

@import "gallery.scss";

// CONTACTS

@import "contacts.scss";

// NEWS

@import "news.scss";

// FOOTER

@import "footer.scss";

// COPYRIGHT

@import "copyright.scss";






.nameing-section--position {
    text-align: center;
    margin-bottom: 60px;
}

.nameing-section__heading-position {
    margin-bottom: 20px;
}

// GALLERY

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 30px;


    .gallery__img {
        max-width: 362px;
        max-height: 330px;

    }

    .gallery__img--even {
        max-width: 362px;
        max-height: 230px;
    }

    @media (max-width:1274px) {
        justify-content: center;
    }

    @media (max-width:1186px) {
        order: 2;
    }

}

.gallery {

    padding: 1rem;

    @media (min-width: 320px) {
        min-width: 280px;
        padding: 0 20px;
        justify-content: space-between;
    }


    @media (min-width: 1440px) {
        padding: 1rem calc(50% - 575px);
        padding-bottom: 0;
        padding-top: 0;

    }

    @media (max-width: 1274px) {
        justify-content: center;

    }
}

.gallery__hr-top {
    border: 1px solid #0D0402;
    max-width: 460px;
    margin-top: 15px;
}

.gallery__hr-bottom {
    border: 1px solid #0D0402;
    max-width: 460px;
    margin-top: 15px;
}

.gallery__link {
    margin-top: 60px;
    margin-bottom: 140px;
    display: block;
    text-align: center;

    a {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FF4B32;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}

.gallery__img--up {

    margin-top: -100px;

    @media (max-width: 1185px) {
        margin-top: 0;
        height: 230px;
        object-fit: cover;

    }
}

.gallery__img--first {
    @media (max-width: 1185px) {
        order: 2;
    }
}

.gallery__img--second {
    @media (max-width: 1185px) {
        order: 1;
    }
}

.gallery__img--third {
    @media (max-width: 1185px) {
        order: 3;
    }
}
