// GLOBAL
@import "global.scss";

// ITEMS

@import "items.scss";

// PAGE_HEADER

@import "page-header.scss";

// LOGO

@import "logo.scss";

// BUTTON

@import "buttons.scss";

// APPEAL

@import "appeal.scss";

// NAMEING_SECTION

@import "nameing-section.scss";

// SHOP

@import "shop.scss";

// GALLERY

@import "gallery.scss";

// CONTACTS

@import "contacts.scss";

// NEWS

@import "news.scss";

// NEWS

@import "footer.scss";

.copyright {
    background-color: white;
}

.copyright__item {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: black;

}

.copyright__hr {
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.4;
    width: 100%;
    margin: 0;
    padding: 0;


}
