.appeal {

    padding-bottom: 107px;


    // @media (min-width: 1439px) {
    //     padding: 1rem calc(50% - 575px);
    //     padding-bottom: 123px;

    // }


    @media (max-width: 829px) {
        padding-bottom: 50px;
        padding-left: 12px
    }

}

;

.appeal__slogan {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 120%;
    margin: 112px 0 26px 0;
    max-width: 524px;

    @media (max-width: 829px) {
        margin-top: 50px;
        font-size: 35px;
    }
}

;

.appeal__intro {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    opacity: 0.8;
    max-width: 516px;

    @media (max-width: 829px) {
        font-size: 12px;
    }
}

.appeal__intro {
    margin-bottom: 65px;
}



//BUTTON ADAPTIVATED

.button-adaptive {

    @media (max-width: 1439px) {
        padding: 13px 28px;

    }

    @media (max-width: 829px) {
        padding: 11px 24px;
    }

    ;


}
