// GLOBAL
@import "global.scss";

// ITEMS

@import "items.scss";

// PAGE_HEADER

@import "page-header.scss";

// LOGO

@import "logo.scss";

// BUTTON

@import "buttons.scss";

// APPEAL

@import "appeal.scss";

// NAMEING_SECTION

@import "nameing-section.scss";

// SHOP

@import "shop.scss";

// GALLERY

@import "gallery.scss";

// CONTACTS

@import "contacts.scss";

// NEWS

@import "news.scss";

// FOOTER

@import "footer.scss";

// COPYRIGHT

@import "copyright.scss";


.header-wrapper {

    @media (min-width: 1440px) {
        padding-right: 40%;
        background-image: url("../img/background.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
}
